<div class="hello_user" style="padding: 1rem 2rem">
  <h1>Witaj {{username}}</h1>
</div>

<div class="wrapper">
  <h4 class="pb-4 border-bottom">Ustawienia konta</h4>
  <div class="py-2" style="column-gap: 2rem">
    <div class="row py-2" style="column-gap: 2rem">
      <div class="col-md-5">
        <label>Nazwa użytkownika</label>
        <input type="text" class="bg-light form-control" placeholder={{username}} [(ngModel)]="inputUsername">
      </div>
      <div class="col-md-5 pt-md-0 pt-3">
        <label>Adres email</label>
        <input type="text" class="bg-light form-control" placeholder={{email}} [(ngModel)]="inputEmail">
      </div>
    </div>
    <div class="row py-2" style="column-gap: 2rem">
      <div class="col-md-5" style="margin-top: 0.5rem">
        <label>Dział</label>
        <div class="arrow">
          <select name="city" class="bg-light">
            <option value="wroclaw" selected>Wrocław</option>
            <option value="poznan">Poznań</option>
          </select>
        </div>
      </div>
    </div>
    <div class="py-3 pb-4 border-bottom ">
      <button class="btn border button" style="padding: 0.2rem 0.5rem" (click)="submitChanges()">Zapisz zmiany</button>
      <button class="btn border button " style="padding: 0.2rem 0.5rem" (click)="cancel()">Anuluj</button>
    </div>
    <div class="row py-2" style="column-gap: 2rem">
      <div class="col-md-5">
        <label>Stare hasło</label>
        <input type="text" class="bg-light form-control" placeholder="********">
      </div>
      <div class="col-md-5 pt-md-0 pt-3">
        <label>Nowe hasło</label>
        <input type="text" class="bg-light form-control" placeholder="********">
      </div>
    </div>
    <div class="py-3 pb-4 border-bottom ">
      <button class="btn border button" style="padding: 0.2rem 0.5rem" (click)="changePassword()" >Zmień hasło</button>
    </div>
  </div>
</div>
