<form class="form">
  <div class="card" style="width: 18rem;">
    <img id="blah" [src]="imageSrc || 'http://placehold.it/180'" alt="your image" />
    <div class="card-body">
      <div class="form-group shadow-textarea">
        <label for="exampleFormControlTextarea6">Dodaj ciasto</label>
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Dodaj opis ciasta..."></textarea>
      </div>
    </div>
    <div class="button-wrap">
      <label class="button" for="inputP"> Upload! </label>
      <input id="inputP" type='file' (change)="readURL($event);"/>
    </div>
    <button type="button" class="btn btn-primary" >Post</button>
  </div>
</form>

